/* CAP */
.Cap {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.capEsquerra {
  display: flex;
  align-items: center;
  margin-left: 1em;
  color: white;
}

.capLogo {
  height: 1em;
  object-fit: contain;
  margin-left: 1em;
}

.capInput {
  display: flex;
  /* flex:1; */
  flex-direction: row;
  align-items: center;
  border: solid 1px darkslategray;
  padding: 0.2em;
  width: 45%;
  justify-content: center;
}

.capDreta {
  display: flex;
  align-items: center;
  object-fit: contain;
  margin-right: 1em;
}
