.Central {
  display: flex;
  flex-direction: column;
  border: 8px solid #282c34;
  height: 100%;
}

.centralVideoDetail {
  border: 4px dashed #282c34;
  height: 80%;
}

.centralRelatedVideos {
  display: flex;
  flex-direction: row;
  border: 4px dashed #282c34;
  height: 20%;
}
