.Cos {
  display: flex;
  flex-direction: row;
}

.cosEsquerra {
  flex: 0.0;
}

.cosCentral {
  border: 8px solid #282c34;
  color: orange;
  flex: 0.8;
  max-height: 90vh;
  max-width: 80vw;
}

.cosDreta {
  border: 6px solid #282c34;
  color: white;
  flex: 0.2;
}
