.searchForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchForm > input {
  /* flex: 1; */
  font-size: 1.5em;
  width: 30em;
}

.lupa {
  width: 150px;
  border: 1px solid dark);
  background-color: lightgray;
  color: navy;
}