.relatedVideos {
  border: 8px solid #282c34;
}

.relatedVideosRow {
  display: flex;
  flex-direction: row;
}

.relatedVideosItem {
  display: flex;
  flex-direction: row;
  padding: 0.2rem;
  color: white;
}

/* .relatedVideosThumb{} */

/* .relatedVideosDesc{} */
