.iframeVideo {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 6px dotted yellowgreen;
}

.iframeVideo iframe {
  height: 90%;
}

.iframeVideo > h2 {
  margin-left: 50px;
  max-height: 1rem;
}

.iframeVideo > p {
  margin-left: 50px;
  max-height: 1rem;
}
